.u-section-1 .u-sheet-1 {
  min-height: 695px;
}

.u-section-1 .u-text-1 {
  margin: 59px auto 0;
}

.u-section-1 .u-image-1 {
  width: 791px;
  height: 328px;
  margin: 79px auto 0;
}

.u-section-1 .u-image-2 {
  width: 824px;
  height: 97px;
  margin: 26px auto 54px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 299px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 224px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 141px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 464px;
}

.u-section-2 .u-table-1 {
  margin: 42px auto 42px 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-0ef5-4 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 464px;
}